:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  min-width: 100%;
}

body {
  font-family: var(--system-ui);
  font-size: 0.96rem;
  line-height: 1.2;
  min-height: 100%;
  background: rgb(214,228,247);
}

em {
  color: rgba(0, 0, 0, 0.65);
  font-style: normal;
}

main, header, footer {
  max-width: 890px;
  background-color: rgba(255, 255, 255, 0.9);
  padding-left: 2.4em;
  border-right:  1px solid #ddd;
  /*border-left: 1.5em solid rgb(30, 48, 92);*/
}

header {
  padding: 0.4em 1.8em;
  padding-left: 2.4em;
}

footer {
  padding: 1.4em 1.5em 1em 1.8em;
  padding-left: 2.4em;
}

footer hr {
  margin-bottom: 0.6em;
}

footer a, footer span {
  opacity: 0.7;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

header h1 {
  margin: 0.4em 0;
  font-size: 140%;
  color: rgb(30, 48, 92);
}

a {
  text-decoration: underline;
  color: inherit;
}

hr {
  opacity: 0.25;
}

main {
  padding: 1em 1.8em;
  padding-left: 2.4em;
}

main section {
  margin-bottom: 1em;
}

article p {
  margin: 0.6em 0;
}

article h3 {
  margin-top: 1.8em;
}

article h4 {
  margin-top: 1.4em;
  margin-bottom: 0.4em;
}

article ul {
  list-style-position: outside;
  margin-left: 20px;
  margin-bottom: 1.4em;
}

sup {
  color: rgb(51, 70, 113);
}

caption {
  padding: 0.6em;
}

table {
  border-collapse: collapse;
  border: 1px solid rgb(200,200,200);
  width: 100%;
}

th, td {
  border: 1px solid rgb(190,190,190);
  padding: 0.4em 0.6em;
}

table.compact th, table.compact td {
  padding: 0.3em 0.4em;
}

td {
  text-align: left;
}

.table-container {
  overflow-x: auto;
}

.post-img-container img {
  max-width: 100%;
  width: 100%;
  margin: 1em 0;
}

td img.cover {
  width: 86px;
  margin-left: 4px;
  margin-top: 4px;
}